<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galang Dana</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/gps_logo.jpeg" alt="logo-gps" style="max-width: 150px; border-radius: 50px;">
            </div>
            <div class="col-8 mt-5">
                <h3>Generasi Peduli Sesama</h3>
                <p>Sekretariat: Jl. Raya Panumbangan KM. 2, Jampang Tengah, Sukabumi</p>
            </div>
            <div class="col-2  mt-5">
                
            </div>
        </div>    
    </div>
    
