<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/donasi">Donasi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Artikel</a>
    </li>
</ul>
<hr>