<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/report">Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mange Donation</a>
    </li>
</ul>
<hr>