<%- include("partials/header.ejs")%>

<div class="container mt-3">
 <%- include("partials/navbar.ejs")%>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <img src="assets/images/gps-wakaf-alquran-dan-iqra.jpg" alt="gos-home" style="border-radius: 10px; max-width: 700px;">
      </div>
      <div class="col-sm-4 mt-5">
        <h3>Tentang Kami</h3>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit alias ab blanditiis eos rem aliquid quos perspiciatis error tempora, dignissimos quas. Rerum laboriosam dolorum, optio incidunt dolore est. Consectetur, quas.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio nihil similique alias mollitia nostrum repellendus hic delectus, laboriosam libero aliquid odit fuga vel quisquam qui doloremque ad dolore tempora!</p>
      </div>
    </div>
</div>

<%- include("partials/footer.ejs")%>